// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    position: relative;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    /* try to fit the element inside of the box */
    /* the border of the top staty the same. if center, then when shrink the page, the top and bottom will all be cropped top */
    background-size: cover;
    /* always stays at center */
    background-position: center;
    /* the four corner position: relative position with the left top borner */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;

        &__logo {
            /* control the height, the browser will figure out the width */
            height: 3.5rem;
        }
    }

    /* text-box title element */
    &__text-box {
        transform: translateY(-20%);

        // position: absolute;
        // top: 40%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* text-box logo element */

