.bg-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
    // for now, the video is overflowing

    //solve the overflowing
    &__content {
        height: 100%;
        width: 100%;
        //like background-size cover
        object-fit: cover;
    }

}