*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // global definition
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

/* project based setting  */